@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8f8;
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chat-message-container {
  position: relative;
  margin-bottom: 10px;
}

.reactions-container {
  position: absolute;
  bottom: -10px;
  left: 200px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.chat-reactions {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.chat-message-container:hover .chat-reactions {
  display: flex;
}

.reaction-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 2px;
}

.reaction-button:hover {
  background-color: lightgray;
}
.liked-by-container {
  margin-top: 5px;
  font-size: 0.875rem;
  color: #666;
}
.fixed {
  position: fixed;
}
.bg-gray-800 {
  background-color: rgba(0, 0, 0, 0.5);
}
.z-50 {
  z-index: 50;
}




